{% extends 'MainMainBundle::layout.html.twig' %}
{% block body %}
<div class="main-container col3-layout">
    <div class="main">
        <div class="breadcrumbs">
            <ul>
                <li class="home">
                    <a href="{{ path('main_main_homepage') }}" title="Go to Home Page">Home</a>
                    <span>/ </span>
                </li>
                <li class="category35">
                    <strong>{{prods[0].category.label}}</strong>
                </li>
            </ul>
        </div>

        <div class="col-wrapper">
            <div class="col-main">
                <div class="page-title category-title">
                    <h1>{{prods[0].category.label}}</h1>
                </div>
                <div class="category-products">
                    
                    <div class="list_wrapper">
                        {% render controller('MainMainBundle:Products:list',{'page': app.request.get('page'), 'category': app.request.get('category') }) %}
                    </div>
                   
                </div>
            </div>
            <div class="col-left sidebar">
                <div class="block block-layered-nav">
                    <div class="block-title">
                        <strong><span>Shop By</span></strong>
                    </div>
                    <div class="block-content">
                        <div class="currently">
                            <p class="block-subtitle">Currently Shopping by:</p>
                            <ol>
                                <li>
                                    <span class="label">Price:</span> <span class="value">0,00 US$ - 49,99 US$</span><!-- <a class="btn-remove" href="#" title="Remove This Item">Remove This Item</a> -->
                                </li>
                            </ol>
                        </div>
                        <div class="actions"><a href="#">Clear All</a></div>
                        <p class="block-subtitle">Shopping Options</p>
                        <dl id="narrow-by-list">
                            <input type="hidden" name="filter_path" id="filter_path" value="{{ path('main_main_products_list', { 'category':app.request.get('category') }) }}">
                            <dt>Price</dt>
                            <dd>
                                <ol>
                                    {% for step in steps %}
                                        {% if loop.last!=true or step['only_one']==true%}
                                            <li><a href="javascript:void(0)" class="filter_price"><span class="price"><span class="exact_val_min">{{ step['min'] }}</span> US$</span> - <span class="price"><span class="exact_val_max">{{ step['max'] }}</span> US$</span></a></li>
                                        {% else %}
                                            <li><a href="javascript:void(0)" class="filter_price"><span class="price"><span class="exact_val_min">{{ step['min'] }}</span>US$</span> <span class="exact_val_max"></span>and above</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </dd>
                            <dt>Stock</dt>
                            <dd>
                                <ol>
                                    <li><a href="#">Available</a></li>
                                    <li><a href="#">Soon</a></li>
                                </ol>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- change to render here when controller ready -->
         {% include 'MainMainBundle::rightsidebar.html.twig' %}
    </div>
</div>
{% endblock %}
